<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div>
      <h2>Login</h2>
      <button
        onclick="window.location.href='http:\//localhost:8080/auth/login?redirect_url=' + encodeURIComponent('http://localhost:3001/auth/callback')"
      >
        Login
      </button>
    </div>
  </body>
</html>
